
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --base-color :  #249cb6;
    --neutral-light-color :#f0f9fb;
    --neutral-dark-color:#0f1112;
    --success-color:#fafdf9;
    --caution-color:#fdfcf6;
    --danger-color: #c92e61;
    --info-color: #bce2f3;
}

@font-face {
    font-family: greatVibe;
    src: url(/src/fonts/GreatVibes-Regular.ttf);
  }


@font-face {
    font-family: oswaldBold;
    src: url(/src/fonts/static/Oswald-Bold.ttf);
}

@font-face {
    font-family: oswaldThin;
    src: url(/src/fonts/static/Oswald-Light.ttf);
  }

body{
    background-color: var(--neutral-light-color);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--neutral-dark-color);
    font-family: oswaldThin;
}


.app-component {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.header-ul {
    display: flex;
    justify-content: right;
    list-style: none;
}


.link-text {
    padding: 0 10px;
    color: var(--neutral-dark-color);
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}

.link-text:hover {
    font-size: 2rem;
    text-decoration: underline;
}


.home-page-content {
    display: flex;
    flex-direction: column;
    min-height: 65%;
    margin: 0 auto;
    border-top: none;
}

/* ################################################################################## */

 @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 9));
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 9));
    }
  }
  .slider {
    width: 100%;
    margin-bottom: 10px;
    border-top: 1px solid var(--neutral-dark-color);
    border-bottom: 1px solid var(--neutral-dark-color);
    padding: 10px 0;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    min-height: 60px;
    overflow: hidden;
    position: relative;
  }

  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 50s linear infinite;
    display: flex;
    width: calc(200px * 18);
  }
  .slider .slide {
    width: 200px;
    height: 100%;
    list-style: none;
    padding: 10 0px;
    text-decoration: none;
  }

  .slide a {
    color: var(--neutral-dark-color);
  }

  .slide img {
    width: 30px;
  }

  .slide span {
    padding: 10px;
    font-family: greatVibe;
    font-size: 1.5rem;
  }

  .slider .slide-track:hover {
    animation-play-state: paused;
  }


#name-container {
    min-height: 20vh;
    padding: 0 5px;
}



#daniel-text , #onowoni-text{
    font-size: 10vw;
    padding: 0 40px;
}


#onowoni-text {
    font-family: oswaldBold;
}

#daniel-text {
    font-family: greatVibe;
    text-align: right;
    transform: translateY(-70%);
}




.partition-container {
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
}

#left-partition-home-page{
    max-width: 60%;
}

#web-dev-text {
    font-size: 3.623rem;
}

#description-text {
    max-width: 70%;
    font-size: 1.1rem;
    margin: 15px 0;
    padding: 10px 0;
}


#right-partition-home-page > a {
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid var(--neutral-dark-color);
    color: var(--neutral-dark-color);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    padding: 10px 50px;
    transform: translate(-55%, -50%);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
}
#right-partition-home-page {
    position: relative;
}

#right-partition-home-page > div {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 10px;
}


.my-logo {
    width: 200px;
    opacity: 0;
}

#logo-1 {
    /* animation: rotate-right 20s infinite; */
    animation-direction: alternate;
}


#logo-2 {
    transform: translateX(-20%);
    /* animation: rotate-left 20s infinite; */
    animation-direction: alternate;
}

@keyframes rotate-left {
    0% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(270deg);
    }
    75% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-right {
    0% {
        transform: rotate(270deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(0deg);
    }
}



.work {
    overflow: auto;
}



#work-intro-text-container {
    margin: 0 0 11vh 0;
    display: flex;
    height: 20vh;
    gap: 20px;
}

#work-intro-text-container p, #work-intro-text-container a {
    width: 50%;
    font-size: 2rem;
}


#work-intro-text-container a {
    text-decoration: none;
    color: var(--base-color);
    margin: 0;
}

#work-intro-text-container img {
    width: 20px;
}


.project-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.project-card {
    height: 30vh;
    width: 30%;
    margin-bottom: 40px;
}



.project-img-container{
    height: 90%;

}

.project-img-container img{
    height: 100%;
    width: 100%;
}

.project-text-container {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.project-text-container > p{
    font-weight: 900;
    font-size: 1.5rem;
}

.out-link {
    display: block;
}


.out-link img {
    width: 30px;
    height: 30px;
}




.service-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
}

.service-top-card-container {
    display: flex;
    margin: 0 auto ;
    gap: 20px;
}

.service-top-card-container > div {
    width: 60%;
}



.service-header {
    font-size: 1.5rem;
    font-family: oswaldBold;
}


.service-bottom-card {
    width: 50%;
    margin-left: calc(50% + 10px);
}

.logo-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.logo-container img{
    width: 30px;
}

.contact {
    flex-direction: column;
}

.contact-intro-text {
    font-size: 1.5rem;
    font-family: oswaldBold;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}


form > p {
    padding: 40px 0;
    font-weight: 500;
}


input{
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: inset 20px 10px 500px 10px rgba(0, 0, 0, 0.20), 0 0 5px rgba(0, 0, 0, 0.28);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 5px;
    text-align:justify;
    background-color:var(--neutral-light-color);
    color:var(--neutral-dark-color);
    margin-bottom: 10px;
}

input[email] {
    margin-bottom: 200px;
}


input:focus{
    border: solid 1px var(--base-color);
    background-color:var(--neutral-light-color);
    box-shadow: none;
    box-shadow: inset 20px 10px 500px 10px rgba(0, 0, 0, 0.20),inset 0 0 5px  var(--neutral-dark-color);
}

textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    width: 100%;
    border:  none;
    box-shadow: inset 20px 10px 500px 10px rgba(0, 0, 0, 0.20), 0 0 5px rgba(0, 0, 0, 0.28);
    text-indent: 5px;
    background-color:var(--neutral-light-color);
    color:var(--neutral-dark-color);
    margin-bottom: 20px;
}


textarea:focus{
    border: solid 2px var(--base-color);
    background-color:var(--neutral-light-color);
    box-shadow: none;
    box-shadow: inset 20px 10px 500px 10px rgba(0, 0, 0, 0.20),inset 0 0 5px  var(--neutral-dark-color);
}

::placeholder {
    color: var(--neutral-dark-color);
}

.btn {
    border: none;
    text-align: center;
    width: 30%;
    margin: 0;
    height: 30px;
    background-color:var(--base-color);
    color:var(--neutral-dark-color);
    font-size: larger;
    cursor: pointer;
    transition: background-color .3s linear, color .3s linear;
}

.btn:hover {
    color: var(--base-color);
    background-color: var(--neutral-light-color);
    border: solid 2px var(--base-color);
    box-shadow: inset 20px 10px 500px 10px rgba(0, 0, 0, 0.20);
}

.sent-feedback-container {
    border: 1px solid var(--base-color);
    width: fit-content;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sent-feedback-container > p {
    padding-bottom: 10px;
}

.sent-feedback-container > button {
    margin: 0 50%;
    transform: translateX(-50%);
}

.error{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.four {
    font-size: 4rem;
}


.error-text {
    font-size: 2rem;
}


@media only screen and (max-height: 700px) {
    .app-component {
        height: auto;
    }
}

@media only screen and (max-width: 1280px) {
    #web-dev-text {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 650px) {
    body{
        padding: 0;
    }

    .app-component {
        height: 100%;
        justify-content: space-around;
    }

    .header-ul > a {
        padding: 0 10px;
    }

    .slider {
        position: fixed;
        bottom: 1px;
        margin-bottom: 0;
    }

    .slider::after, .slider::before {
        display: none;
    }

    #name-container {
        margin-top: 10px;
    }

    #onowoni-text, #daniel-text {
        font-size: 4rem;
        padding: 0;
    }
    #daniel-text {
        transform: translateY(0);
        padding-right: 10px;
    }

    .partition-container {
        flex-direction: column;
    }

    #web-dev-text {
        font-size: 1.5rem;
    }
    #left-partition-home-page {
        max-width: 100%;
    }

    #description-text {
        max-width: 100%;
        padding: 0;
        font-size: 1rem;
    }

    #right-partition-home-page > a {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0,0);
        display: block;
        max-width: max-content;

    }

    .my-logo {
        display: none;
    }





    .work {
        margin: 0;
        padding: 0 20px;
    }

    #work-intro-text-container {
        flex-direction: column;
        gap: 50px;
        height: 30vh;
        margin: 30px 0 0 0;
    }

    #work-intro-text-container p, #work-intro-text-container a {
        width: 100%;
        font-size: 1rem;
    }

    .project-card-container {
        flex-direction: column;
    }

    .project-card {
        width: 100%;
        height: 40vh;
        padding: 0 0 100px 0;
    }

    .service-page {
        width: 100%;
        height: auto;
        padding: 30px 20px;
        margin-bottom: 50px;
    }


    .service-top-card-container {
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
    }

    .service-top-card-container > div {
        width: 100%;
    }


    .service-bottom-card {
        width: 100%;
        margin:0 auto;
    }



    .contact {
        height: auto;
        padding: 30px 20px;
    }

    .contact-intro-text {
        font-size: 1rem;
        text-align: center;
        font-weight: 600;
    }

    form {
        padding-top: 2vh;
        width: 100%;
    }

    input {
        width: 100%;
    }
}

