html{
    height: auto;
}
body{
    /* background-color: hsl(239, 35%, 60%); */
    /* a choich for light bluebackground-color: hsl(209, 80%, 60%); */
    /* background-color: #1C3E5E; */
    background-color: #ffec19;
    /* background-color: #00495C; */
    color: #01C3E5;
    /* #FFEC19  text colour */
    /* color: #479ceb; */
}

/*main colour 60% 241°, 70%, 51%
secondary colour 242°, 53%, 85%
accent 23°, 80%, 51% everything is in hsl
*/
.footer {
    padding-top: 10px;
    position: sticky;
    background-color: #00495C;
    margin: 0 10px;
    bottom: 1px;
    border-top: 10px solid #ffec19;
    border-bottom: 10px solid #ffec19;
    height: 100px;
}

.footer-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.footer-ul li {
    padding: 20px;
    background-color: #ffec19;
    width: 70px;
    height: 30px;
    border-radius: 100%;
    margin: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-text{
    color:  black;
    text-decoration: none;
    cursor: pointer;
}



.background{
    background-color: #00495C;
    margin: 10px;
    margin-bottom: 0;
}

.home{
    height: calc(100vh - 141px);
}

.project-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
}

.project-container{
    display: flex;
    flex-direction: column;
}


.left-card{
    display: flex;
    padding: 0 0 30px 0;
}


.project-img{
    width: 50%;
}

.project-img img{
    width: 100%;
}

.project-text{
    width: 50%;
    padding: 10px;
}

.project-text h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: left-to-right 1s ease-in-out;
}

.project-text p {
    animation: left-to-right 1s ease-in-out .1s;
}


.right-card{
    flex-direction: row-reverse;
    display: flex;
}

@keyframes left-to-right {
    0% {
        transform: translate(10px, 30px);
    }
    100%{
        transform: translate(0);
    }
}



.skills{
    height: calc(100vh - 140px);
    display: flex;
    flex-wrap: wrap;
}

.bubble{
    background-color: hsl(189, 99%, 86%);
    width: fit-content;
    height: fit-content;
    padding: 40px;
    border-radius: 100%;
}

.contact {
    height: calc(100vh - 141px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}


h4 {
    margin: 30px 0 10px 0;
}
.input {
    display: flex;
    margin: 5px 0 30px 0;
    justify-content: space-between;
}

.input > input{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    text-align:justify;
    /* border: none; */
    background-color: #00495C;
    color: #ffec19;
}

textarea {
    height: 150px;
    border: 1px solid black;
    background-color: #00495C;
    color: #ffec19;
    margin-bottom: 20px;
}

.btn {
    border: none;
    width: 30%;
    margin: 0 auto;
    height: 30px;
    background-color: #ffec19;
    color: #00495C;
    font-size: larger;
    cursor: pointer;
}