html{
    height: auto;
}

:root{
    --text-colour :  #ffec19;
    --background-color : #00495C;
    /* color: #01c3e5; */
}

body{
    background-color: var(--text-colour);
    color: var(--text-colour);
}

.footer {
    padding-top: 10px;
    position: sticky;
    background-color: var(--background-color);
    margin: 0 10px;
    bottom: 1px;
    border-top: 10px solid var(--text-colour);
    border-bottom: 10px solid var(--text-colour);
    height: 100px;
}

.footer-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.footer-ul li {
    padding: 10px;
    color: var(--text-colour);
    width: 84.317px;
    height: 30px;
    border:10px solid var(--text-colour);
    border-radius: 10px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s linear;
}


.footer-ul li:hover {
    color: var(--background-color);
    border: none;
    background-color: var(--text-colour);
}


.link-text{
    color:  black;
    text-decoration: none;
    cursor: pointer;
}



.background{
    background-color: var(--background-color);
    background-image: url("./img/logo.svg");
    background-repeat: repeat;
    background-size: 10% 20%;
    margin: 10px;
    margin-bottom: 0;
}

.home{
    min-height: calc(100vh - 141px);
    overflow: hidden;
}

.home-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.kunai {
    height: 100px;
    position: relative;
    right: 20px;
    top: calc(100vh - 300px);
    width: 100px;
    cursor: pointer;
}

.home-container div {
    position: relative;
    padding: 5px;
    top: 200px;
    left: 30px;
    width: 50%;
    height: fit-content;
    background-color:var(--background-color);
}

.home-container div:hover {
    border: solid 2px  #ffec19;
}


.work{
    min-height: max-content;
}

::-webkit-scrollbar{
    display: none;
}

.project-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
}


.project-card {
    position: relative;
    width: calc(100vw - 40px);
    left: 10px;
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-bottom:100px;
    display: flex;
}

.not-first{
    top: 10vh;
}


.project-img{
    height: 100%;
}

.project-img img{
    height: 100%;
    width: 100%;
}

.project-text{
    width: 50%;
    padding: 10px;
    background-color:var(--background-color);
}

.project-text h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: left-to-right 1s ease-in-out;
}

.project-text p {
    animation: left-to-right 1s ease-in-out .1s;
}


.right-card{
    flex-direction: row-reverse;
    display: flex;
}

@keyframes left-to-right {
    0% {
        transform: translate(10px, 30px);
    }
    100%{
        transform: translate(0);
    }
}



.skills{
    min-height: calc(100vh - 141px);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.bubble{
    background-color: #b8f4ff;
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    border-radius: 100%;

}

.bubble:hover {
    animation-play-state: paused;
}

@keyframes animate {
    0% {
        transform: translateY(calc(100vh - 141px));
    }
    100% {
        transform: translateY(-10vh);
    }
}


.contact {
    min-height: calc(100vh - 141px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact h1 {
    background-color:var(--background-color);
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}


h4 {
    margin: 30px 0 10px 0;
    background-color: var(--background-color);
    width: fit-content;
    padding: 10px;
}
.input {
    display: flex;
    margin: 5px 0 30px 0;
    justify-content: space-between;
}

.input > input{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 5px;
    text-align:justify;
    background-color:var(--background-color);
    color:var(--text-colour);
}

textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    border: 1px solid black;
    text-indent: 5px;
    background-color:var(--background-color);
    color:var(--text-colour);
    margin-bottom: 20px;
}

.btn {
    border: none;
    width: 30%;
    margin: 0 auto;
    height: 30px;
    background-color:var(--text-colour);
    color:var(--background-color);
    font-size: larger;
    cursor: pointer;
}


.error{
    height: calc(100vh - 141px);
}